html
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    background: linear-gradient(0.25turn, rgb(97, 97, 237), #e18691, rgb(97, 97, 237));
    height:auto;
    max-width: 100%;
}
#testLine
{
    text-decoration: none;
    color: #ffffff;
    cursor:text;
}
#qsLoginBtn
{
    position: absolute; 
    font-size: 8vh;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -40%);
    text-decoration: none;
    transition: 0.1s;
    color: #ffffff;
    border: 3.5px solid darkolivegreen;
    border-radius: 100vh;
    background-color: green;
    padding: 2vh;
}
#qsLogoutBtn
{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: red;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.1s;
}
#qsLogoutBtn:hover
{
    background-color: lightcoral;
    transition: 0.1s;
}
#qsLoginBtn:hover
{
    background-color: rgb(0, 188, 0);
    transition: 0.1s;
}
#profileDropDown
{
    position: absolute; 
    top: calc(50% - 2.25em);
    font-size: 13vh;
    left: 50%;
    transform: translate(-40%, -40%);
    transition: 0.25s;
    text-decoration: underline;
}
#profileLoggedIn
{
    text-decoration: underline;
}
#loginBox
{
    background-color: lightgrey;
    width: 50vw;
    border: 2.5vh solid black;
    height: 50vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-42.5%, -60%);
    z-index: -1;
    padding: 0;
    margin: 0;
    opacity: 50%;
}
.objects
{
    width: 100%;
    height: 100vh;
    z-index: -98;
}
.box
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -98;
}
.box li
{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
    border-radius: 50%;

}
.box li:nth-child(1)
{
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box li:nth-child(2)
{
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box li:nth-child(3)
{
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.box li:nth-child(4)
{
    left: 45%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box li:nth-child(5)
{
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.box li:nth-child(6)
{
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
@keyframes animate
{
    0%
    {
        transform: translateY(0) scale(0);
    }
    100%
    {
        transform: translateY(-800px) scale(2);
        opacity: 0;
    }
}
body {
    margin: 0;
    min-width: 250px;
  }
  
  /* Include the padding and border in an element's total width and height */
  * {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background: linear-gradient(0.25turn, purple, pink, purple);
    padding: 30px 40px;
    color: white;
    text-align: center;
    border: 2px solid black;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    z-index: 5;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    z-index: 5;
  }
  
  .addBtn:hover {
    background-color: #bbb;
    z-index: 5;
  }