<!DOCTYPE html>
<html>
    <head>
        {% if session %}
        <title>{{session.userinfo.name}}'s Planner</title>
        {% else %}
        <title>Planner Login</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='HackthonMainStyle.css') }}" />
    </head>
    <body>
        {% if session %}
        <div class = "inSession">
            <h1>Welcome {{session.userinfo.name}}!</h1>
            <!-- <div><pre>{{pretty}}</pre></div>-->
            <a href ="https://www.linkedin.com/in/andrew-o-fallon-631281a1/" target="_blank" id = "testLine">Yo whats up</a>
            <p><a href="/logout" id="qsLogoutBtn">Logout</a></p>
        </div>
    <!--Runs for not logged in users-->
        {% else %}
        <div class = "outSession">
            <h1 id="profileDropDown">Please Login</h1>
            <p><a href="/login" id="qsLoginBtn" >Login/Signup</a></p>
            <div id="loginBox"></div>
        </div>
        {% endif %}
    </body>
</html>